        <!-- Content wrapper -->
        <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
                <div class="col-md-12" style="display: flex;">
                    <div class="col-md-6">
                        <h3 class="text-muted fw-light">Posts</h3>
                    </div>
                    <div class="col-md-6">
                        <a href="/admin/post-add" style="float:right;"><button class="btn btn-success">Add Post</button></a>
                    </div>
                </div>
                <!-- Basic Bootstrap Table -->
                <div class="card">
                    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                                <% posts.forEach((post)=> { %>
                                <tr>
                                    <td><%= post.title %></td>
                                    <td style="width:20%;">
                                        <div class="dropdown">
                                            <div class="col-md-12" style="display: flex;">
                                                <div class="col-md-6">
                                                    <a href="/admin/post-edit/edit?post=<%= post._id %>" class="btn btn-secondary">Edit</a>
                                                </div>
                                                <div class="col-md-6">
                                                    <a href="/admin/post-delete/delete?post=<%= post._id %>" class="btn btn-danger">Delete</a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--/ Basic Bootstrap Table -->
            </div>
            <!-- / Content -->

<%
if(operation){
    if(operation=="success"){
%>
<script>
    setTimeout(function() {
        swal({
            title: "Success",
            text: "Success",
            type: "success"
        }).then(function(){
            window.location = "/admin/posts";
        });
    }, 1000);
</script>
<% }if(operation=="fail"){ %>
<script>
    setTimeout(function() {
        swal({
            title: "Error",
            text: "Error",
            type: "error"
        }).then(function(){
            window.location = "/admin/posts";
        });
    }, 1000);
</script>
<%
    }
}
%>